---
import Divider from "../components/Divider.astro";
import Me from "../components/Me.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my Homepage!">
  <Me />
  <div class="text">
    <div class="text-para">
      <h3>Info</h3>
      <div>
        <p>
          Hi there! I'm halcyon, otherwise known as hxlcyxn or similar if the name
          is already taken. Most of my space time is dedicated to programming,
          gaming and playing volleyball.
        </p>
        <p>Currently I'm a new student at the TU Dresden!</p>
      </div>
    </div>
    <div class="text-para">
      <h3>Projects</h3>
      <p>
        Mostly little things that support my daily life in one way or another,
        often built with technology I'm inexperienced with, for the
        <b>*learning experience*</b>. Everything is over at my
        <a href="https://github.com/hxlcyxn">github</a>.
      </p>
      <ul class="projects-list">
        <li class="project">
          <h5 class="project-title">osucollectrs</h5>
          <Divider text="-" />
          <p class="project-description">
            cli web scraper built in rust for
            <a href="https://osucollector.com/">osu!Colletor!</a>
            to download osu! beatmap collections
          </p>
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style>
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-para {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

ul {
  list-style-type: none;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
</style>
