---
import Divider from "../components/Divider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Links">
  <h2>Links</h2>
  <ul>
    <li class="link">
      <h5>Github</h5>
      <Divider text="-" />
      <p><a href="https://github.com/hxlcyxn">https://github.com/hxlcyxn</a></p>
    </li>
    <li class="link">
      <h5>Discord</h5><Divider text="-" /><p>halcyon#9446</p>
    </li>
  </ul>
</Layout>

<style>
  ul {
    list-style-type: none;
  }
  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
</style>
