---
export interface Props {
  url: string;
  text: string;
  style: string;
}

const { url, text, style } = Astro.props;
---

<a href={url} class={`btn btn--${style}`}>
  {text}
</a>

<style>
  .btn {
    color: var(--fg);
    text-decoration: none;
    padding: 8px 32px;
    border-radius: 8px;
    cursor: pointer;
  }

  .btn--primary {
    background-color: var(--accent-orange);
  }
</style>
