<footer>
  <small>@ halcyon, <span id="copyrightYear"></span></small>
  <small>☄️</small>
  <small>
    made with <a href="https://astro.build">astro</a>, <a
      href="https://figma.com">figma</a
    > & <a href="https://github.com/ayu-theme/ayu-colors">ayu</a>.
  </small>
</footer>

<script>
  const currentYear = new Date().getFullYear();
  const copyrightYearElement = document.querySelector("#copyrightYear");
  if (copyrightYearElement !== null) {
    copyrightYearElement.textContent = currentYear.toString();
  }
</script>

<style>
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 64px;
    border-top: 2px solid var(--accent-orange);
  }
</style>
