---
import Button from "./Button.astro";
type NavLink = {
  name: string;
  url: string;
  style: string;
};

const navLinks: Array<NavLink> = [
  {
    name: "Home",
    url: "/",
    style: "transparent",
  },
  {
    name: "Blog",
    url: "/blog",
    style: "transparent",
  },
  {
    name: "Projects",
    url: "/projects",
    style: "transparent",
  },
  {
    name: "Links",
    url: "/links",
    style: "primary",
  },
];
---

<nav>
  <h1>halcyon's space</h1>
  <ul class="nav-links" role="navigation">
    {
      navLinks.map((link) => (
        <li role="none">
          <Button url={link.url} text={link.name} style={link.style} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 64px;
    border-bottom: 2px solid var(--accent-orange);
  }

  ul {
    list-style-type: none;
  }

  .nav-links {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
</style>
